
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

html , body {
 margin: 0;
 padding: 0;
 text-align: center
}
*{
  font-family: "Readex Pro", sans-serif;
}

.primary-button {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  background: linear-gradient(70deg, rgb(70, 81, 140), rgb(0, 0, 255) );
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  cursor:pointer
}



.primary-button:hover {
  background: linear-gradient(100deg, rgb(0, 128, 0), rgb(70, 81, 140));
  cursor:pointer
}
.details-button {
  color: #fff;
  font-size: 12px;
  background: rgb(155, 155, 89);
  padding: 8px;
  border-radius: 10px;
  border: none;
  cursor:pointer
}


.primary-title {
  color: rgb(217, 166, 72);
  font-size: 90px;
  text-align: center
 
}


.secondary-button {
  color: rgb(121, 119, 119);
  background-color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121, 119, 119);
  margin: 6px;
}

.secondary-button:hover {
  color:rgb(48, 48,48) ;
  border: solid 2 px rgb(48, 48,48) ;
  cursor:pointer
}

.form-validation {
  margin: 5px;
  color: rgb(255, 0, 0);
  font-size: 15px;
  
}

/* -------NavBar------------- */

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

nav .logo-container {
  width: 170px;
  margin: 8px;
  cursor:pointer
}
nav .nav-button{
  color: rgb(255, 255, 255);
  background-color: rgb(70, 81, 140);
  font-size: 14px;
  padding: 10px 8px;
  border-radius: 10px;
  border:none;
  margin:10px;
  cursor:pointer;
  -webkit-animation: bounce .73s infinite alternate;
  -moz-animation: bounce .73s infinite alternate;
  animation: bounce .73s infinite alternate;
  


}
@-webkit-keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}
@-moz-keyframes bounce {
  to { -moz-transform: scale(1.2); }
}
@keyframes bounce {
  to { transform: scale(1.2); }
}
nav  .nav-button:hover {
  background-color:  hsl(120, 39%, 72%);
  color: rgb(94, 86, 89);
  cursor:pointer
 
}

nav .nav-btn{
  color: rgb(255, 255, 255);
  background-color: rgb(70, 81, 140);
  font-size: 14px;
  padding: 10px 8px;
  border-radius: 10px;
  border:none;
  margin:10px;
  cursor:pointer;}

  nav  .nav-btn:hover {
    background-color:  hsl(120, 40%, 72%);
    color: rgb(94, 86, 89);
    cursor:pointer
   
  }

nav .logout-button{
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  font-size: 14px;
  padding: 10px 8px;
  border-radius: 10px;
  border:none;
  margin:10px;
  cursor:pointer


}


nav .logo-container .logo{
  width: 90px;
  margin-top: 10px;
 margin-left: 0;
}

/* for mobile */
@media screen and (max-width: 767px) {
  nav {
    width: 100%;
    height: 50px;
  }
  nav .logo-container {
   
    margin: 3px;

  }
  nav .nav-button{ padding: 0;
    font-size: 12px;
    border-radius: 5px;
  }
  nav .nav-btn{ 
    font-size: 12px;
    border-radius: 5px;
  }
  nav .logout-button{
    font-size: 12px;
    border-radius: 5px;}
}



/* -------Home Page------- */

.overlay {
  width: 100vw;
  height:100vh;
  position: fixed;
  background:  url("./components/images/Dog.jpg");
  background-size:contain;
}

.home {
  margin-top: 15vh;
}

/* -----authmodal---------- */

.auth-modal{
  position:absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 600px;
  background-color: rgb(251, 251, 255);
  border-radius: 20px;
  padding: 30px;
  /* display: contents;
  overflow: visible; */

}
.close-icon {
  float: right;
  font-size:x-large;
  margin-bottom: 20px;
  -webkit-animation: bounce .73s infinite alternate;
  -moz-animation: bounce .73s infinite alternate;
  animation: bounce .73s infinite alternate;
  
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input  {
  padding: 8px;
  margin: 8px;
  font-size: 17 px;
}





/* ---------Onboarding----------- */
.onboarding {
  border-top: solid 1px rgb(226, 223, 223);
}

.onboarding form {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  text-align: start;
}

.onboarding form input {
  padding: 10px 30px;
  margin:20px 0px;
  font-size: 15px;
  border:solid 2px rgb(219, 219,219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button
.onboarding form input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin:0;
}

.onboarding form textarea {
  padding: 25px 30px;
  margin:10px 0;
  font-size: 15px;
  border:solid 2px rgb(219, 219,219);
  border-radius: 10px;
}

.onboarding form label {
  margin: 10px 0px;
}
.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form .multiple-input-container input {
  margin-right:10px
}
.onboarding form .multiple-input-container input[type="radio"] {
  display: none;
}
.onboarding form .multiple-input-container input[type="number"] {
  width: 60px
}

.onboarding form .multiple-input-container label{
  padding:5px;
  border:solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}
.onboarding form input[type='radio']:checked +label {
  border: solid 2px rgb(217, 166, 72)
}

.onboarding form input[type='submit']:hover {
  background-color: rgb(226,115,155);
}
.onboarding form input[type='submit']:active {
  background-color: rgb(221, 15, 90);
}

/* ------------------Dashboard-------------------- */

/* -----desktop---- */
.info {
  margin-bottom: 20px;
}
.dashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dashboard .swiper-container {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
 


 

  
}

.swipe {
  position: absolute;
}

.card-container {
  width: 30vw;
  
  height: 60vh;
  
}

.card {
  
  background-color: #fff;
  width: 40vw;
  
  height: 80vh;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;

}

.pet-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 40vw;
  text-align: left;
  z-index: 1;

  margin-top:30px;
  border-radius: 20px;

}

.pet {
 
  height: 80vh;
  margin: 10px 10px 0px 10px;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.pet-container-small-screen {
  background-color: rgb(255, 255, 255);
  
}


.pet-header{
  text-align: center;
  background-color: rgb(70, 81, 140);
  color: rgb(255, 255, 255);
  border: solid rgb(0, 0, 255) 2px;
  border-radius: 10px; 
  overflow: hidden;

}
.pet-header-small-screen{
  text-align: center;
  background-color: rgb(70, 81, 140);
  color: rgb(255, 255, 255);
  border: solid rgb(0, 0, 255) 2px;
  border-radius: 10px; 
  display: none;
 
}

.pet-details {
  padding: 10px;
  border: solid rgb(217, 166, 72) 2px;
  border-radius: 8px;
margin-top: 8px;
overflow: hidden;
}
.pet-background {
  padding: 10px;
  overflow: hidden;
  
}


 /* for mobile */
 @media screen and (max-width: 767px) {
  .dashboard{
    display: flex;
    flex-direction: column-reverse;
  align-items:flex-start ;
    justify-content:center;
    flex-wrap: wrap;
  }

  .dashboard .swiper-container {
  
    height: 50vh;
    width: 90vw;
    margin-left: 15px;
   
  }

.card-container {
  width: 80vw;
  
  height: 100%;
  min-width: 300px;
  
  
}
.card {
  width: 80vw;
  
  height: 100%;
  min-width: 300px;
 
}
.pet-container {

  width: 60vw;
  margin-left: 25px;
  min-width: 320px;
  font-size: 14px;
  overflow: hidden;
}

 }

 /* for mobile */
 @media screen and (max-width: 500px) {
  .dashboard{
    display: flex;
  flex-direction: row;
  align-items:flex-start ;
    justify-content:center;
    flex-wrap: wrap;
  }

  .dashboard .swiper-container {
  
    height: 60vh;
    width: 90vw;
    margin-left: 15px;
   
  }

.card-container {
  width: 80vw;
  
  height: 100%;
  min-width: 300px;
  
  
}
.card {
  width: 80vw;
  
  height: 100%;
  min-width: 300px;
 
}

.pet-container {
margin-top: 0;
  width: 60vw;
  margin-left: 25px;
  min-width: 320px;
  font-size: 12px;
  
  height: 100px;
  box-shadow:none;
  padding-top: 0px;
  display: none;
  
}
.pet-container-small-screen {
 
    margin-top: 0;
      width: 60vw;
      margin-left: 25px;
      min-width: 320px;
      font-size: 12px;
      
      height: 100px;
      box-shadow:none;

      padding-top: 0px;
      display: contents;
    
   
  }
  .pet-header-small-screen{
    text-align: center;
    justify-content: center;
    background-color: rgb(70, 81, 140);
    color: rgb(22, 21, 21);
    border: solid rgb(0, 0, 255) 2px;
    border-radius: 10px; 
    display: contents;
  }


.pet {
  font-size: 12px;
text-align: left;}
/* .pet-details {
display: none;
}
.pet-background {

  display: none;
} */

 }


/* ----------FavouritePet------- */
.favpets {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}
.infocardContainer {
  display: flex;
  height: 250px;
  width: 250px;
  border-radius: 100%;
  background: rgb(0,159,255);
  background: linear-gradient(121deg, rgba(255,255,255,0) 13%, rgba(0,159,255,1) 100%);
  transition: all 500ms ease-in;
  transition-delay: 1s;
  margin:auto;
  margin-top: 10px;
  --margin-top: 100px;
}
.infocardContainer:hover {
  width: 500px;
  border-radius: 100px 10px 100px 100px;
  transition: all 1s ease-out;
}

.infocardContainer div {
  color: white;
  flex-shrink: 1;
  width: 100%;
  --background-color: green;
}
.infocardContainer div * {
  display: flex;
  --flex: inherit;
  overflow: hidden;
  text-overflow: hidden;
  --background-color: yellow;
  color: white;
  white-space: nowrap;
  width: 0;
  height: auto;
  transition: all 450ms ease-in;
  transition-delay: 1s;
}
.infocardContainer:hover div *{
  --background-color: purple;
  display: flex;
  visibility: visible;
  transition: all 1s ease-out;
  transition-delay: 500ms;
  width: 100%;
  height: auto;
}

.infocardContainer #main, .infocardContainer #main img{
  --background-color: red;
  height: 250px;
  width: 250px;
  padding-right: 10px;
  border-radius: 100%;
  flex-shrink: 0;
  object-fit: cover;
}
.infocardContainer #main img{
  height: 230px;
  width: 230px;
  transition: none;
  display: float;
  position: relative;
  border: 10px solid rgb(0,159,255);
  margin: 0 0 0 0; padding: 0 0 0 0;
}
.infocardContainer #textbois {
  position: relative;
}
.infocardContainer #textbois #hotlinks {
  max-width: 80%;
  max-height: 30px;
  
  --background-color: white;
  position:absolute;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 13px;
  font-size: 12px;
}
.infocardContainer #textbois #hotlinks * {
  background-color: white;
  max-width: 30px;
  --margin: 0 1px 0 1px;
  border-radius: 25px;
  
}



/* -----------Whatsapp----- */

 /* for desktop */

 
      .whatsapp_float {
          position: fixed;
          width: 60px;
          height: 60px;
          bottom: 15%;
          right: 40px;
          background-color: #25d366;
          color: #FFF;
          border-radius: 100%;
          text-align: center;
          font-size: 30px;
          box-shadow: 2px 2px 3px #999;
          z-index: 100;
          display: flex;
          align-items: center;
          justify-content: center;
      }

      .whatsapp-icon {
          margin-top: 16px;
      }

      /* for mobile */
      @media screen and (max-width: 767px) {
          .whatsapp-icon {
              margin-top: 10px;
          }

          .whatsapp_float {
              width: 50px;
              height: 50px;
              bottom: 10%;
              right: 10px;
              font-size: 22px;
          }
      }
      @-webkit-keyframes bounce {
        0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 10px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -25px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}

@-webkit-keyframes bounce {
  0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

.bounce {

-webkit-animation: bounce 1s infinite;
}